h1 PureMunky

ul.links
  li
    a(href='/') Home
  li
    a(href='live.puremunky.com') Twitch
  li
    a(href='twitter.puremunky.com') Twitter
  li
    a(href='youtube.puremunky.com') YouTube
  li
    a(href='about.html') About
