extends layout

block content
  div.content Hey, how's it going? Just hanging out playing games, feel free to hang out with me. I'll be enjoying all sorts of games; some that I've played before but many that I haven't. Drop me a line if there are any games in particular that you'd like to watch me fail miserably at.

  include twitch.jade
  include youtube.jade
