doctype html
html(ng-app='PureMunky')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js')
    script(src='js/core.js')
  body(ng-controller='MainCtrl')
    include header.jade
    block content
