html {
  background-color: #080740;
  color: #CCC;
  margin: 0px;
  text-align: center;
}

body {
  background-color: #000;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px 0px;
}

a {
  color: #ffe031;
}

div.content {
  width: 500px;
  margin: 0px auto 20px;
}

ul.nav {
  margin: 0px 0px 20px 0px;
  padding: 0px;
}

ul.nav li {
  display: inline;
  padding-right: 10px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

.header img {
  width: 250px;
  height: 75px;
}

div.footer {
  padding: 20px 0px 20px 0px;
}
